-# 新着アイテムページ
- @item.each do |item|
  .postTitle
    .postImage
      = image_tag item.images[0].image.url, class: "postImage__itemimage" 
    .post_day 出品日
    .post_date
      = item.created_at.strftime('%Y/%m/%d')
      -# .item_name 商品名
      .postText
        = link_to item.name, item_path(item.id)