/*出品ボタン*/
%a{:href => "#"}
  .purchase-btn
    %span.purchase-btn__text 出品する
    %img.purchase-btn__icon{:src => "/assets/icon_camera.png"}


/*マイページ*/

-# .mypage-top
-#   %h1 マイページ
-# .mupage-main
-#   .mypage-side
-#     %nav.mypage-side__nav
-#       %h3.mypage-side__nav__head 設定
-#       %ul.mypage-side__nav__list
-#         %li
-#           %a.mypage-side__nav__list__item.active{:href => "#"}
-#             プロフィール
-#             %i.fas.fa-chevron-right
-#         %li
-#           %a.mypage-side__nav__list__item{:href => "#"}
-#             発送元・お届け先住所変更
-#             %i.fas.fa-chevron-right
-#         %li
-#           %a.mypage-side__nav__list__item{:href => "#"}
-#             支払い方法
-#             %i.fas.fa-chevron-right
-#         %li
-#           %a.mypage-side__nav__list__item{:href => "#"}
-#             メール/パスワード
-#             %i.fas.fa-chevron-right
-#         %li
-#           %a.mypage-side__nav__list__item{:href => "#"} 
-#             本人情報
-#             %i.fas.fa-chevron-right
-#         %li
-#           %a.mypage-side__nav__list__item{:href => "#"}
-#             電話番号の確認
-#             %i.fas.fa-chevron-right
-#         %li
-#           %a.mypage-side__nav__list__item{:href => "#"}
-#             ログアウト
-#             %i.fas.fa-chevron-right
-#   .mypage-right
-#     .mypage-right_title タイトル名
-#     .mypage-right_main 対応するページを記載



.mypage-top
  %h1 マイページ
.mypage-main
  .mypage-main__left
    %nav.mypage-main__left__nav
      %h3.mypage-main__left__nav__head 詳細
      %ul.mypage-main__left__list
        %li
          %a.mypage-main__left__nav__list__item.active{:href => "#"}
            プロフィール
            %i.fas.fa-chevron-right
        %li
          %a.mypage-main__left__nav__list__item{:href => "#"}
            発送元・お届け先住所変更
            %i.fas.fa-chevron-right
        %li
          %a.mypage-main__left__nav__list__item{:href => "#"}
            支払い方法
            %i.fas.fa-chevron-right
        %li
          %a.mypage-main__left__nav__list__item{:href => "#"}
            メール/パスワード
            %i.fas.fa-chevron-right
        %li
          %a.mypage-main__left__nav__list__item{:href => "#"} 
            本人情報
            %i.fas.fa-chevron-right
        %li
          %a.mypage-main__left__nav__list__item{:href => "#"}
            電話番号の確認
            %i.fas.fa-chevron-right
        %li
          %a.mypage-main__left__nav__list__item{:href => "#"}
            ログアウト
            %i.fas.fa-chevron-right
  .mypage-main__right
    .mypage-main__right__title 
      %h1 ログアウト
    .mypage-main__right__main
      %button.mypage-main__right__main__logout{:type => "submit"} ログアウト
      -# %input{:name => "__csrf_value", :type => "hidden", :value => "#"}
