.postlink{
  text-decoration: none;
  color:black;
}
.postlink:hover{
  color:blue;
}
.postTitle{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  display:flex;
  border-bottom: solid 1px gray;
  background-color: #f5f5f5;
}
.post_day{
  padding-right:20px;
  padding-top:10px;
  font-size:20px;
}
.post_date{
  // margin-right: 350px;
  padding-top:15px;
  // text-align: right;
  height: 1px;
  font-size: 24px;
}


  .postText{
    &__nametext{
      font-size:25px;
      text-decoration: none;
      color: black;
    }
  }


.postImage{
  text-align: left;
  font-size: 20px;
  width: 150px;
  margin-left: 100px;
  &__itemimage{
    border: solid 1px;
    height: 100px;
    width: 100px;
  }
}
.buyercomp{
  color:red;
}



