.mypage-main{
  display: flex;
  padding: 0 20%;
  margin-bottom: 50px;
  margin-top: 150px;
  &__left {
    width: 280px;
    margin: 0 40px 0 0;
    &__nav {
      width: 100%;
      height: 100%;
      &__head {
        margin: 10px 0 0;
        text-align: center;
      }
      &__list {
        &__item {
          position: relative;
          display: block;
          min-height: 48px;
          padding: 13px;
          background:lightblue;
          font-size: 14px;
          color: #333;
          text-decoration: none;
          border-top: 1px solid black;
          // & i.fas.fa-chevron-right{
          //   position: absolute;
          //   top: 35%;
          //   right: 5px;
          //   color: black;
          // }
        }
        &__item:hover {
          background-color:  #3CCACE;
        }
      }
    }
  }
  &__right{
    width: 100%;
    height: 100%;
    &__title{
      height: 50px;
      width: 100%;
      margin-bottom: 10px;
      & h1 {
        font-size: 25px;
        line-height: 50px;
        text-align: center;
      }
    }
    &__main{
      height: 100%;
      width: 100%;
      // border: solid #3CCACE;
      text-align: center;
      padding: 20px 0;
      margin-bottom: 10px;
    }
  }  
}

/*ログアウト*/
.mypage-main__right__main__logout{
  border: solid 2px #3CCACE;
  text-decoration: none;
  color:  #3CCACE;
  padding: 15px;
  font: bold;
}
